# SETUP

In [78]:
import requests
import time
import pandas as pd

from selenium import webdriver
from bs4 import BeautifulSoup

---

In [ ]:
pw = input('Enter PW : ')

url = "https://www.rocketpunch.com/login"
driver = webdriver.Chrome()
driver.get(url)

login_google = driver.find_element_by_xpath('//*[@id="login-main"]/div[3]/a[2]')
login_google.click()

time.sleep(1)

google_id = driver.find_element_by_xpath('//*[@id="identifierId"]')
google_id.send_keys('syh602@gmail.com')

time.sleep(1)

google_id_submit = driver.find_element_by_xpath('//*[@id="identifierNext"]/content')
google_id_submit.click()

time.sleep(1)

google_pw = driver.find_element_by_xpath('//*[@id="password"]/div[1]/div/div[1]/input')
google_pw.send_keys(pw)

time.sleep(1)

google_pw_submit = driver.find_element_by_xpath('//*[@id="passwordNext"]/content/span')
google_pw_submit.click()

time.sleep(1)

url = "https://www.rocketpunch.com/@quartz/bookmark"
driver.get(url)

time.sleep(1)

# get page sourse, parse html
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [98]:
# title

date_list = []
company_list = []
job_list = []
salary_list = []
condition_list = []
special_list = []

for i in range(100):

    try:
        date = soup.findAll('div', {'class': 'job-dates'})
        date = date[i].text.split("\n")[2].strip()
        date_list.append(date)

        company = soup.findAll('div', {'class': 'company-name'})
        company = company[i].text.split('\n')[2].strip()
        company_list.append(company)

        job = soup.findAll('a', {'class': 'nowrap job-title'})
        job = job[i].text
        job_list.append(job)

        salary_condition = soup.findAll('div', {'class': 'job-stat-info'})
        salary = salary_condition[i].text.split("/")[0].strip()
        condition = salary_condition[i].text.split("/")[1].strip()
        salary_list.append(salary)
        condition_list.append(condition)

        special = soup.findAll('div', {'class': 'nowrap job-specialties'})
        special = special[i].text
        special_list.append(special)
    except:
        print("The loop is ended. You have %d bookmarks." % (i))
        break
    
data_job = pd.DataFrame(columns=['date', 'company', 'job', 'salary', 'condition', 'special'])
data_job['date'] = date_list
data_job['company'] = company_list
data_job['job'] = job_list
data_job['salary'] = salary_list
data_job['condition'] = condition_list
data_job['special'] = special_list
data_job.to_csv('rocketpunch_bookmark.csv')

The loop is ended. You have 12 bookmarks
The loop is ended. You have 13 bookmarks
The loop is ended. You have 14 bookmarks
The loop is ended. You have 15 bookmarks
The loop is ended. You have 16 bookmarks
The loop is ended. You have 17 bookmarks
The loop is ended. You have 18 bookmarks
The loop is ended. You have 19 bookmarks
The loop is ended. You have 20 bookmarks
The loop is ended. You have 21 bookmarks
The loop is ended. You have 22 bookmarks
The loop is ended. You have 23 bookmarks
The loop is ended. You have 24 bookmarks
The loop is ended. You have 25 bookmarks
The loop is ended. You have 26 bookmarks
The loop is ended. You have 27 bookmarks
The loop is ended. You have 28 bookmarks
The loop is ended. You have 29 bookmarks
The loop is ended. You have 30 bookmarks
The loop is ended. You have 31 bookmarks
The loop is ended. You have 32 bookmarks
The loop is ended. You have 33 bookmarks
The loop is ended. You have 34 bookmarks
The loop is ended. You have 35 bookmarks
The loop is ended. You have 36 bookmarks
The loop is ended. You have 37 bookmarks
The loop is ended. You have 38 bookmarks
The loop is ended. You have 39 bookmarks
The loop is ended. You have 40 bookmarks
The loop is ended. You have 41 bookmarks
The loop is ended. You have 42 bookmarks
The loop is ended. You have 43 bookmarks
The loop is ended. You have 44 bookmarks
The loop is ended. You have 45 bookmarks
The loop is ended. You have 46 bookmarks
The loop is ended. You have 47 bookmarks
The loop is ended. You have 48 bookmarks
The loop is ended. You have 49 bookmarks
The loop is ended. You have 50 bookmarks
The loop is ended. You have 51 bookmarks
The loop is ended. You have 52 bookmarks
The loop is ended. You have 53 bookmarks
The loop is ended. You have 54 bookmarks
The loop is ended. You have 55 bookmarks
The loop is ended. You have 56 bookmarks
The loop is ended. You have 57 bookmarks
The loop is ended. You have 58 bookmarks
The loop is ended. You have 59 bookmarks
The loop is ended. You have 60 bookmarks
The loop is ended. You have 61 bookmarks
The loop is ended. You have 62 bookmarks
The loop is ended. You have 63 bookmarks
The loop is ended. You have 64 bookmarks
The loop is ended. You have 65 bookmarks
The loop is ended. You have 66 bookmarks
The loop is ended. You have 67 bookmarks
The loop is ended. You have 68 bookmarks
The loop is ended. You have 69 bookmarks
The loop is ended. You have 70 bookmarks
The loop is ended. You have 71 bookmarks
The loop is ended. You have 72 bookmarks
The loop is ended. You have 73 bookmarks
The loop is ended. You have 74 bookmarks
The loop is ended. You have 75 bookmarks
The loop is ended. You have 76 bookmarks
The loop is ended. You have 77 bookmarks
The loop is ended. You have 78 bookmarks
The loop is ended. You have 79 bookmarks
The loop is ended. You have 80 bookmarks
The loop is ended. You have 81 bookmarks
The loop is ended. You have 82 bookmarks
The loop is ended. You have 83 bookmarks
The loop is ended. You have 84 bookmarks
The loop is ended. You have 85 bookmarks
The loop is ended. You have 86 bookmarks
The loop is ended. You have 87 bookmarks
The loop is ended. You have 88 bookmarks
The loop is ended. You have 89 bookmarks
The loop is ended. You have 90 bookmarks
The loop is ended. You have 91 bookmarks
The loop is ended. You have 92 bookmarks
The loop is ended. You have 93 bookmarks
The loop is ended. You have 94 bookmarks
The loop is ended. You have 95 bookmarks
The loop is ended. You have 96 bookmarks
The loop is ended. You have 97 bookmarks
The loop is ended. You have 98 bookmarks
The loop is ended. You have 99 bookmarks
The loop is ended. You have 100 bookmarks

,date,company,job,salary,condition,special
0,01/17 마감,케이씨 ML2(KC ML2),Research Resident (Internship),"3,500 - 6,000만원","인턴, 신입, 경력",Python ∙ Git
1,02/14 마감,라인웍스,데이터 분석가,"최소 3,000만원","신입, 경력",데이터분석 ∙ 빅데이터 ∙ data-analysis ∙ research
2,02/11 마감,닛픽(NITPICK),데이터 사이언티스트(텍스트 데이터 분석가) 모집,"2,400 - 3,000만원","인턴, 신입",Data Science ∙ data-analysis ∙ Datamining ∙ te...
3,수시채용,밸런스히어로(Balance Hero),Junior Business Analyst,연봉 미기재,"인턴, 신입, 경력",데이터분석 ∙ 데이터 ∙ 데이터관리 ∙ 지표분석
4,수시채용,코드잇(codeit),퍼포먼스 마케터 / 그로스해커,"2,400 - 4,200만원",최대 1.0%,온라인마케팅 ∙ 디지털마케팅 ∙ 그로스해킹 ∙ Google Analytics ∙ 페...
5,수시채용,피카소(Picasso),유튜브 빅데이터 스타트업 _ 함께 성장할 데이터 애널리스트분 모십니다.,"3,600 - 4,000만원",1.0 - 5.0%,Python
6,수시채용,모루랩스(Moru Labs),data scientist,"3,500 - 5,000만원","신입, 경력",Python ∙ Git ∙ Pandas ∙ scikit-learn ∙ TensorF...
7,01/31 마감,데이터크런치(Datacrunch),Data Analyst / Data Scientist,"5,000 - 10,000만원","인턴, 신입, 경력",MySQL ∙ Python ∙ SQL ∙ 빅데이터 ∙ 빅데이터 분석/인프라/가시화 ...
8,01/18 마감,랩투아이(Lab2AI),스포츠 데이터 분석 및 로봇기사 알고리즘 개발,연봉 미기재,"인턴, 신입, 경력",Python ∙ Amazon AWS ∙ Git ∙ deep-learning ∙ Te...
9,수시채용,마이셀럽스(mycelebs),그로스해커/데이터 전처리/서비스 기획 및 운영 인턴 모집,연봉 미기재,0.05 - 0.2%,서비스운영 ∙ 데이터분석 ∙ 데이터수집 ∙ 데이터관리 ∙ 통계분석 ∙ 운영 ∙ 서비...
10,수시채용,휴멜로(Humelo),[인턴직] ML / Deep Learning Researcher (2019.3월 입...,연봉 미기재,인턴,deep-learning ∙ Machine Learning ∙ Data Scien...

In [ ]:
driver.quit()